<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhbagWV0YqvbxogbZVMSjf4GQAZntQvTA</string>
	<key>GCM_SENDER_ID</key>
	<string>405208145260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.a.Notification-Center</string>
	<key>PROJECT_ID</key>
	<string>notificationcenter-8f599</string>
	<key>STORAGE_BUCKET</key>
	<string>notificationcenter-8f599.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405208145260:ios:133fd74c9f15e181e86749</string>
</dict>
</plist>